/* reset defaults in browsers */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* add control panel */
:root {
  --primary-color: rgba(0, 0, 0, 0.4);
  --secondary-color: #6c757d;
  --primary-txt-color: rgba(245, 245, 245, 100);
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --body-bg: #f8f9fa;
  --body-color: #212529;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --link-hover-decoration: underline;
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: "Courier New", monospace;
  --padding: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  /* set the background */
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-txt-color);
  /* grid settlement */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.location-detail-container {
  /* take the upper half */
  grid-area: 1/1/2/-1;
  /* center this specific container */
  justify-self: center;
  align-self: center;
  /* color and sizing */
  background-color: var(--primary-color);
  width: 70%;
  height: 40%;
  padding: var(--padding);
  border-radius: 30px;
  /* children layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
#temp {
  font-size: 2em;
  color: #ffa34e;
}

.city-details {
  display: flex;
  flex-direction: column;
}
.city-details div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-section > input {
  padding: var(--padding);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 10px;
}
